
.title, .description, .date {
  color: black; /* Ensures all text in the project component is black */
}

.website_project {
    background-color: white; 
    padding: 20px; 
    margin: 20px auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px; 
    text-align: center; 
  }
  
  .NBA_Stats_Website {
    background-color: white; 
    padding: 20px; 
    margin: 20px auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px; 
    text-align: center;
  }
  
  .nba_text_list {
    list-style-type: disc; 
    padding-left: 0; 
    display: inline-block; 
    text-align: left; 
    margin: 0 auto 20px auto; 
  }
  
  .website_text_list {
    list-style-type: disc; 
    padding-left: 0; 
    display: inline-block; 
    text-align: left; 
    margin: 0 auto 20px auto; 
  }
  
  /* Style for the NBA image */
  .NBA_Image img {
    max-width: 60%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
  }
  
  /* Style for the GitHub link */
  .github_link {
    text-decoration: none; 
    font-size: 14px; 
    color: #007bff; 
  }
  
  .Homepage_Image img {
      max-width: 40%; 
      height: auto; 
      display: block; 
      margin: 0 auto; 
    }